* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ecf0f1;
}

.box {
  width: 50vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px 600px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: #60a3bc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.inputData {
  margin-bottom: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.inputField {
  width: 150px;
  height: 40px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 0 10px;
  background-color: #fff;
  font-size: 17px;
  border: none;
  outline: none;
}
